*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
application-local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/build-tools/
/platforms/
/platform-tools/
/.temp/
/.run/*
kotlin-js-store/
.env.local
/.docker/keycloak-dev/
/modules/admin-server/logs/
/logs/*
/logs/admin-server/*
/logs/federation-server/*
!logs/.gitkeep
!logs/admin-server/.gitkeep
!logs/federation-server/.gitkeep
/modules/openid-federation-admin-server/src/main/resources/admin-server.yaml
/modules/openid-federation-admin-server/src/main/resources/public/admin-server.yaml
