services:
  db:
    image: postgres:latest
    container_name: openid-federation-datastore
    environment:
      POSTGRES_USER: ${DATASOURCE_USER}
      POSTGRES_PASSWORD: ${DATASOURCE_PASSWORD}
      POSTGRES_DB: ${DATASOURCE_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - openid_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${DATASOURCE_DB} -U ${DATASOURCE_USER}" ]
      interval: 3s
      timeout: 5s
      retries: 20

  local-kms-db:
    image: postgres:latest
    container_name: openid-federation-local-kms-datastore
    environment:
      POSTGRES_USER: ${LOCAL_KMS_DATASOURCE_USER}
      POSTGRES_PASSWORD: ${LOCAL_KMS_DATASOURCE_PASSWORD}
      POSTGRES_DB: ${LOCAL_KMS_DATASOURCE_DB}
    ports:
      - "5433:5432"
    volumes:
      - local_kms_data:/var/lib/postgresql/data
    networks:
      - openid_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${LOCAL_KMS_DATASOURCE_DB} -U ${LOCAL_KMS_DATASOURCE_USER}" ]
      interval: 3s
      timeout: 5s
      retries: 20

  federation-server:
    build:
      context: .
      dockerfile: ./.docker/federation-server/Dockerfile
    ports:
      - "8080:8080"
    container_name: openid-federation-server
    environment:
      DATASOURCE_URL: ${DATASOURCE_URL}
      DATASOURCE_USER: ${DATASOURCE_USER}
      DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
    depends_on:
      admin-server:
        condition: service_started
      db:
        condition: service_healthy
    networks:
      - openid_network

  admin-server:
    build:
      context: .
      dockerfile: ./.docker/admin-server/Dockerfile
    ports:
      - "8081:8080"
    container_name: openid-federation-server-admin
    environment:
      DATASOURCE_URL: ${DATASOURCE_URL}
      DATASOURCE_USER: ${DATASOURCE_USER}
      DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
      APP_KEY: ${APP_KEY}
      KMS_PROVIDER: ${KMS_PROVIDER}
      LOCAL_KMS_DATASOURCE_URL: ${LOCAL_KMS_DATASOURCE_URL}
      LOCAL_KMS_DATASOURCE_USER: ${LOCAL_KMS_DATASOURCE_USER}
      LOCAL_KMS_DATASOURCE_PASSWORD: ${LOCAL_KMS_DATASOURCE_PASSWORD}
      LOCAL_KMS_DATASOURCE_DB: ${LOCAL_KMS_DATASOURCE_DB}

    depends_on:
      db:
        condition: service_healthy
      local-kms-db:
        condition: service_healthy
    networks:
      - openid_network

networks:
  openid_network:
    driver: bridge

volumes:
  postgres_data:
  local_kms_data:
